@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}